apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: woodpantry-recipes
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 1m
  path: ./kubernetes
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: woodpantry-recipes
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substitute:
      IMAGE_TAG: "a913ab5"
