apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: woodpantry-postgres
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 1m
  path: ./apps/woodpantry/postgres
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
